name: CI DNS Proxy
on:
  pull_request:
    branches:
      - main

jobs:
  ci-dns-proxy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      - name: Run
        uses: ./ # Uses an action in the root directory

      - name: Run a composite action
        uses: cds-snc/terraform-tools-setup@5f76a50c0b5f0e133634fecc8dd42f67db57bc05 # v1.1.0

      - name: Cat DNS
        run: cat /tmp/dns-proxy-action.out

      - name: cat output file
        run: cat /tmp/dns_query.log
