name: CI DNS Proxy
on:
  pull_request:
    branches:
      - main

jobs:
  ci-dns-proxy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Run
        uses: ./ # Uses an action in the root directory

      - name: Run a composite action
        uses: cds-snc/terraform-tools-setup@5a19984bcb888600ad646e0caf5c6f4d0a54c165 # v1.2.0

      - name: Cat DNS
        run: cat /tmp/dns-proxy-action.out

      - name: cat output file
        run: cat /tmp/dns_query.log
