name: CI Latest Release
on:
  pull_request:
    branches:
      - main

jobs:
  ci-latest-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build a new release based on the code
        run: make release-test

      - name: Diff binaries
        run: diff -u ./release/latest/dns-proxy-action ./release/latest/dns-proxy-action-test || exit 1
