name: Shellcheck
on:
  push:
    paths:
      - "**/*.sh"

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Shellcheck
      run: |
        .github/workflows/scripts/run-shellcheck.sh



